<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjkim.repository.ErrorLogDao">
	<resultMap id="resultMapErrorLogVo" type="ErrorLogVo">
		<result property="errSq" column="ERR_SQ" />
		<result property="errDt" column="ERR_DT" />
		<result property="errCd" column="ERR_CD" />
	</resultMap>

	<insert id="insertErrorLog" parameterType="ErrorLogDto">
		<selectKey keyProperty="errSq" resultType="BigDecimal"
			order="BEFORE">
			SELECT SEQ_RESTAPI_ERROR.nextval FROM DUAL
		</selectKey>
		INSERT
		INTO
		SYS_RESTAPI_ERROR_LOG(ERR_SQ, ERR_DT, ERR_CD)
		VALUES(#{errSq}, #{errDt}, #{errCd})
	</insert>

	<select id="selectErrorLogAll" resultMap="resultMapErrorLogVo">
		SELECT *
		FROM
		SYS_RESTAPI_ERROR_LOG
	</select>
</mapper>